/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #fff;
    --color-black: #000;

    // Couleurs du projet
    --color-primary: #6aa84f;

    --color-bg-primary: #212121;
    --color-bg-secondary: #3e92cc;
}
