/* ==========================================================================
   FONTS / SETTINGS
   ========================================================================== */
/// Font family
:root {
    --font-primary: 'Montserrat', sans-serif;
    --font-secondary: 'Fira Code', monospace;

    --font-size-content: 1.8rem;

    /// Grosseur des textes
    --font-size-h1: 6rem;
    --font-size-h2: 2rem;
}
