{% include '_partials/_header.html' %}

<section class="intro">
    <div class="wrapper">
        <section class="split__section" id="intro">
            <h1>Les transition CSS</h1>
            <p>
                L'objectif de l'exercice suivant et de faire une révision des outils CSS que vous avez vue tout au long
                de votre apprentissage du web.
            </p>

            <p>
                Vous devez réaliser chacun des numéros suivant en plus d'ajouter des effets de transition CSS sur chacun
                des effets d'hover.
            </p>
            <p>Liens utiles</p>
            <ul>
                <li>
                    <a href="https://web.dev/learn/css/transitions/" target="_blank">Transition</a>
                </li>
                <li>
                    <a href="https://www.youtube.com/watch?v=zGiirUiWslI" target="_blank">Pseudo éléments</a>
                </li>
            </ul>
        </section>
    </div>
</section>

{% include '_partials/_footer.html' %}
